.item {
  display: flex;
  position: relative;
  height: 50px;
  font-size: 14px;
  border-bottom: 1px solid var(--border-color);
}

.item > input {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.item > label {
  cursor: pointer;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 28px;
}

.item label > input {
  height: 15px;
  width: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  outline: 2px solid transparent;
  transition-duration: 0.3s;
  background-color: var(--primary-light-color);
  cursor: pointer;
  margin-right: 13px;
  box-sizing: content-box;
}

.item label > input:hover {
  border-color: var(--primary-dark-color);
}

.item label > input:checked {
  border-color: var(--border-color);
  background-color: var(--border-color);
}

.item button {
  margin-right: 15px;
}
