.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid var(--border-bottom-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
}
